#customEditor {
    background-color: white;
}
.editorContainer {
    margin: 10px;
}
.editor {
    margin: 2px;
    padding: $m-size;
    border: 1px solid black;
    background: white;
}

.editor:focus {
    border: none;
}

.styleBtn {
    margin: 2px;
    padding: 2px $m-size;
    border: 1px solid black;
    transition: background 300ms, color 100ms;
}

.styleBtn:hover {
    background: $blue;
    color: $off-white;
}

.RichEditor-controls {
    display: flex;
}