.Header {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: flex;
  padding: $s-size;
  justify-content: space-between;
  background: $blue;
  color: $off-white;
  z-index: -10;
}

.Header--title {
  position: relative;
  padding: 7px 10px;
  font-size: $l-size;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.3s;
}

.Header--title:hover {
  font-weight: 500;
  letter-spacing: 4px;
}

.Header--title:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  transition: 0.3s;
}

.Header--title:hover:before {
  left: 0;
  width: 100%;
  border-bottom: 2px solid white;
}

.Header--input {
  padding: 7px 14px;
  input {
    border: none;
    border-radius: 2em;
    padding-left: $l-size;
    height: 2rem;
    width: 30rem;
    min-width: 20rem;
  }
  input:focus {
    outline: none;
  }
}

.Header--nav {
  display: flex;
  color: black;
}

.Header--nav__button__container {
  font-size: $xs-size;
  padding: 7px;
}

.Header--nav__button {
  color: #e0e0e0;
  font-weight: 600;
  font-size: $s-size;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 8px 16px;
  min-height: 20px;
  vertical-align: middle;
  position: relative;
}

.Header--nav__button:hover{
  color: #e0e0e0;
}

.Header--nav__button:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}

.Header--nav__button:hover:before {
  transform: scaleY(1);
  opacity: 1;
}

.Header--nav__button:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darken($blue,20);
  border-top: 2px solid #e0e0e0;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: 0;
}

.Header--nav__button:hover:after {
  opacity: 10%;
  transform: scale(1);
}

.Main--body {
  width: 81rem;
  background: lighten(grey, 48);
  margin:0 auto;
  padding: 3rem;
}